itest/wsdlgen/src/main/resources/wsdl/helloworld.wsdl

<?xml version="1.0" encoding="UTF-8"?>
    <!--
        * Licensed to the Apache Software Foundation (ASF) under one *
        or more contributor license agreements. See the NOTICE file *
        distributed with this work for additional information *
        regarding copyright ownership. The ASF licenses this file * to
        you under the Apache License, Version 2.0 (the * "License"); you
        may not use this file except in compliance * with the License.
        You may obtain a copy of the License at * *
        http://www.apache.org/licenses/LICENSE-2.0 * * Unless required
        by applicable law or agreed to in writing, * software
        distributed under the License is distributed on an * "AS IS"
        BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY * KIND, either
        express or implied. See the License for the * specific language
        governing permissions and limitations * under the License.
    -->
<wsdl:definitions name="HelloWorldServiceService"
    targetNamespace="http://helloworld/" 
    xmlns:tns="http://helloworld/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:SOAP11="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema targetNamespace="http://test" version="1.0"
            xmlns:tns="http://test" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType name="aBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="field1"
                        type="xs:string" />
                    <xs:element minOccurs="0" name="field2"
                        type="xs:string" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType final="#all" name="aBeanArray">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded"
                        minOccurs="0" name="item" nillable="true" type="tns:aBean" />
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified"
            elementFormDefault="unqualified" targetNamespace="http://helloworld/"
            xmlns:ns0="http://test" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://test" />
            <xs:element name="getGreetingsBean">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="arg0"
                            nillable="true" type="ns0:aBean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGreetings">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="arg0"
                            nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGreetingsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return"
                            nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGreetingsBeanResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return"
                            nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGreetingsBeanArrayResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return"
                            nillable="true" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGreetingsBeanArray">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded"
                            minOccurs="0" name="arg0" nillable="true"
                            type="ns0:aBean" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getGreetingsBean">
        <wsdl:part name="getGreetingsBean" element="tns:getGreetingsBean">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getGreetings">
        <wsdl:part name="getGreetings" element="tns:getGreetings">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getGreetingsResponse">
        <wsdl:part name="getGreetingsResponse" element="tns:getGreetingsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getGreetingsBeanResponse">
        <wsdl:part name="getGreetingsBeanResponse" element="tns:getGreetingsBeanResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getGreetingsBeanArrayResponse">
        <wsdl:part name="getGreetingsBeanArrayResponse"
            element="tns:getGreetingsBeanArrayResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getGreetingsBeanArray">
        <wsdl:part name="getGreetingsBeanArray" element="tns:getGreetingsBeanArray">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HelloWorldService">
        <wsdl:operation name="getGreetings">
            <wsdl:input message="tns:getGreetings">
            </wsdl:input>
            <wsdl:output message="tns:getGreetingsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGreetingsBean">
            <wsdl:input message="tns:getGreetingsBean">
            </wsdl:input>
            <wsdl:output message="tns:getGreetingsBeanResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGreetingsBeanArray">
            <wsdl:input message="tns:getGreetingsBeanArray">
            </wsdl:input>
            <wsdl:output message="tns:getGreetingsBeanArrayResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HelloWorldJmsBinding" type="tns:HelloWorldService">
        <SOAP:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/jms" />
        <wsdl:operation name="getGreetings">
            <SOAP:operation soapAction="urn:getGreetings" />
            <wsdl:input>
                <SOAP:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <SOAP:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGreetingsBean">
            <SOAP:operation soapAction="urn:getGreetingsBean" />
            <wsdl:input>
                <SOAP:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <SOAP:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGreetingsBeanArray">
            <SOAP:operation soapAction="urn:getGreetingsBeanArray" />
            <wsdl:input>
                <SOAP:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <SOAP:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="HelloWorldWSBinding" type="tns:HelloWorldService">
        <SOAP:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getGreetings">
            <SOAP:operation />
            <wsdl:input>
                <SOAP:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <SOAP:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGreetingsBean">
            <SOAP:operation />
            <wsdl:input>
                <SOAP:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <SOAP:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGreetingsBeanArray">
            <SOAP:operation />
            <wsdl:input>
                <SOAP:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <SOAP:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HelloWorldService">
        <wsdl:port name="HelloWorldJmsPort" binding="tns:HelloWorldJmsBinding">
            <SOAP:address
                location="jms:/queue.sample?transport.jms.ConnectionFactoryJNDIName=QueueConnectionFactory&amp;java.naming.factory.initial=org.apache.activemq.jndi.ActiveMQInitialContextFactory&amp;java.naming.provider.url=tcp://localhost:51293" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>