paymentprocess-contribution/resources/PaymentProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.    
-->
<wsdl:definitions name="PaymentProcess" 
                  targetNamespace="http://www.example.org/PaymentProcess/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:tns="http://www.example.org/PaymentProcess/" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
                  xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                    targetNamespace="http://www.example.org/PaymentProcess/"
                    xmlns:tns="http://www.example.org/PaymentProcess/">

            <xsd:complexType name="MakePaymentType">
                <xsd:sequence>
                    <xsd:element name="CustomerId" type="xsd:string"></xsd:element>
                    <xsd:element name="Amount" type="xsd:float"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>                    
            <xsd:element name="makePayment" type="tns:MakePaymentType"/>
      
            <xsd:complexType name="MakePaymentResponseType">
                <xsd:sequence>
                    <xsd:element name="Status" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="makePaymentResponse" type="tns:MakePaymentResponseType"/>
            
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MakePaymentRequest">
        <wsdl:part name="parameters" element="tns:makePayment"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="MakePaymentResponse">
        <wsdl:part name="parameters" element="tns:makePaymentResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PaymentProcess">
        <wsdl:operation name="makePayment">
            <wsdl:input message="tns:MakePaymentRequest"></wsdl:input>
            <wsdl:output message="tns:MakePaymentResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PaymentProcessBinding" type="tns:PaymentProcess">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="makePayment">
            <soap:operation soapAction="http://www.example.org/PaymentProcess/makePayment" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PaymentProcessService">
        <wsdl:port name="PaymentProcessPort" binding="tns:PaymentProcessBinding">
            <soap:address location="http://localhost:8080/PaymentProcess" />
        </wsdl:port>
    </wsdl:service>
    
   <plnk:partnerLinkType name="PaymentProcessLinkType">
       <plnk:role name="forward" portType="tns:PaymentProcess"/>
   </plnk:partnerLinkType>
</wsdl:definitions>