testing/sca/itest/databindings/jaxb/src/main/resources/wsdl/Greeter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    * Licensed to the Apache Software Foundation (ASF) under one
    * or more contributor license agreements.  See the NOTICE file
    * distributed with this work for additional information
    * regarding copyright ownership.  The ASF licenses this file
    * to you under the Apache License, Version 2.0 (the
    * "License"); you may not use this file except in compliance
    * with the License.  You may obtain a copy of the License at
    *
    *   http://www.apache.org/licenses/LICENSE-2.0
    *
    * Unless required by applicable law or agreed to in writing,
    * software distributed under the License is distributed on an
    * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    * KIND, either express or implied.  See the License for the
    * specific language governing permissions and limitations
    * under the License.
-->
<wsdl:definitions targetNamespace="http://apache.org/tuscany/sca/itest/databinding/services"
    xmlns:tns="http://apache.org/tuscany/sca/itest/databinding/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Greeter">

    <wsdl:types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:dataTypes="http://apache.org/tuscany/sca/itest/databinding/types"
            targetNamespace="http://apache.org/tuscany/sca/itest/databinding/services" elementFormDefault="qualified">

            <xsd:import namespace="http://apache.org/tuscany/sca/itest/databinding/types" schemaLocation="../xsd/Person.xsd" />

            <xsd:element name="Person" type="dataTypes:PersonType" />

            <element name="greet">
                <complexType>
                    <sequence>
                        <element name="person" type="dataTypes:PersonType" />
                    </sequence>
                </complexType>
            </element>


        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="request">
        <wsdl:part element="tns:greet" name="parameters" />
    </wsdl:message>

    <wsdl:message name="response">
        <wsdl:part element="tns:greet" name="parameters" />
    </wsdl:message>

    <wsdl:portType name="GreeterPortType">
        <wsdl:operation name="greet">
            <wsdl:input message="tns:request" name="requestMsg" />
            <wsdl:output message="tns:response" name="responseMsg" />
        </wsdl:operation>
    </wsdl:portType>


    <wsdl:binding name="GreeterBinding" type="tns:GreeterPortType">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="greet">
            <wsdlsoap:operation soapAction="" />
            <wsdl:input name="requestMsg">
                <wsdlsoap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="responseMsg">
                <wsdlsoap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="GreeterService">
        <wsdl:port name="GreeterPort" binding="tns:GreeterBinding">
            <wsdlsoap:address location="http://localhost:8080/services/JAXBGreeterServiceWebServiceBinding" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
