sca/extensions/axis2/samples/calculator-ws/src/main/resources/calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<wsdl:definitions targetNamespace="http://example.com/Calculator"
                  xmlns:tns="http://example.com/Calculator"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="calculator">

    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
                targetNamespace="http://example.com/Calculator"
                elementFormDefault="qualified">

            <element name="value" type="double"/>

            <element name="valuePair">
                <complexType>
                    <sequence>
                        <element name="first" type="double"/>
                        <element name="second" type="double"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>

    <wsdl:message name="request">
        <wsdl:part element="tns:valuePair" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="response">
        <wsdl:part element="tns:value" name="parameters"/>
    </wsdl:message>

    <wsdl:portType name="CalculatorService">
        <wsdl:operation name="add">
            <wsdl:input message="tns:request"/>
            <wsdl:output message="tns:response"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>