itest/atom/src/test/resources/news/news.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
    * Licensed to the Apache Software Foundation (ASF) under one
    * or more contributor license agreements.  See the NOTICE file
    * distributed with this work for additional information
    * regarding copyright ownership.  The ASF licenses this file
    * to you under the Apache License, Version 2.0 (the
    * "License"); you may not use this file except in compliance
    * with the License.  You may obtain a copy of the License at
    * 
    *   http://www.apache.org/licenses/LICENSE-2.0
    * 
    * Unless required by applicable law or agreed to in writing,
    * software distributed under the License is distributed on an
    * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    * KIND, either express or implied.  See the License for the
    * specific language governing permissions and limitations
    * under the License.    
-->

<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.1 in JDK 6. -->
<definitions targetNamespace="http://abdera.test/" name="NewsServiceImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://abdera.test/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://abdera.test/" schemaLocation="news.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAll">
    <part name="parameters" element="tns:getAll"/>
  </message>
  <message name="getAllResponse">
    <part name="parameters" element="tns:getAllResponse"/>
  </message>
  <message name="get">
    <part name="parameters" element="tns:get"/>
  </message>
  <message name="getResponse">
    <part name="parameters" element="tns:getResponse"/>
  </message>
  <message name="NotFoundException">
    <part name="fault" element="tns:NotFoundException"/>
  </message>
  <message name="post">
    <part name="parameters" element="tns:post"/>
  </message>
  <message name="postResponse">
    <part name="parameters" element="tns:postResponse"/>
  </message>
  <message name="put">
    <part name="parameters" element="tns:put"/>
  </message>
  <message name="putResponse">
    <part name="parameters" element="tns:putResponse"/>
  </message>
  <message name="delete">
    <part name="parameters" element="tns:delete"/>
  </message>
  <message name="deleteResponse">
    <part name="parameters" element="tns:deleteResponse"/>
  </message>
  <message name="query">
    <part name="parameters" element="tns:query"/>
  </message>
  <message name="queryResponse">
    <part name="parameters" element="tns:queryResponse"/>
  </message>
  <portType name="NewsService">
    <operation name="getAll">
      <input message="tns:getAll"/>
      <output message="tns:getAllResponse"/>
    </operation>
    <operation name="get">
      <input message="tns:get"/>
      <output message="tns:getResponse"/>
      <fault message="tns:NotFoundException" name="NotFoundException"/>
    </operation>
    <operation name="post">
      <input message="tns:post"/>
      <output message="tns:postResponse"/>
    </operation>
    <operation name="put">
      <input message="tns:put"/>
      <output message="tns:putResponse"/>
      <fault message="tns:NotFoundException" name="NotFoundException"/>
    </operation>
    <operation name="delete">
      <input message="tns:delete"/>
      <output message="tns:deleteResponse"/>
      <fault message="tns:NotFoundException" name="NotFoundException"/>
    </operation>
    <operation name="query">
      <input message="tns:query"/>
      <output message="tns:queryResponse"/>
    </operation>
  </portType>
  <binding name="NewsServiceImplPortBinding" type="tns:NewsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="get">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NotFoundException">
        <soap:fault name="NotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="post">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="put">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NotFoundException">
        <soap:fault name="NotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="delete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="NotFoundException">
        <soap:fault name="NotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="query">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="NewsService">
    <port name="NewsServicePort" binding="tns:NewsServiceImplPortBinding">
      <soap:address location="http://localhost:8085/NewsService"/>
    </port>
  </service>
</definitions> 