itest/wsdlgen/src/test/resources/wsdl/HelloWorldImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<definitions targetNamespace="http://helloworld/" name="HelloWorldImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://helloworld/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://test" schemaLocation="HelloWorldImplService_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://helloworld/" schemaLocation="HelloWorldImplService_schema2.xsd"/>
    </xsd:schema>
  </types>
  <message name="getGreetings">
    <part name="parameters" element="tns:getGreetings"/>
  </message>
  <message name="getGreetingsResponse">
    <part name="parameters" element="tns:getGreetingsResponse"/>
  </message>
  <message name="getGreetingsBean">
    <part name="parameters" element="tns:getGreetingsBean"/>
  </message>
  <message name="getGreetingsBeanResponse">
    <part name="parameters" element="tns:getGreetingsBeanResponse"/>
  </message>
  <message name="getGreetingsBeanArray">
    <part name="parameters" element="tns:getGreetingsBeanArray"/>
  </message>
  <message name="getGreetingsBeanArrayResponse">
    <part name="parameters" element="tns:getGreetingsBeanArrayResponse"/>
  </message>
  <message name="getGreetingsBBean">
    <part name="parameters" element="tns:getGreetingsBBean"/>
  </message>
  <message name="getGreetingsBBeanResponse">
    <part name="parameters" element="tns:getGreetingsBBeanResponse"/>
  </message>
  <message name="getGreetingsCBean">
    <part name="parameters" element="tns:getGreetingsCBean"/>
  </message>
  <message name="getGreetingsCBeanResponse">
    <part name="parameters" element="tns:getGreetingsCBeanResponse"/>
  </message>
  <message name="getGreetingsDBean">
    <part name="parameters" element="tns:getGreetingsDBean"/>
  </message>
  <message name="getGreetingsDBeanResponse">
    <part name="parameters" element="tns:getGreetingsDBeanResponse"/>
  </message>
  <portType name="HelloWorldService">
    <operation name="getGreetings">
      <input message="tns:getGreetings"/>
      <output message="tns:getGreetingsResponse"/>
    </operation>
    <operation name="getGreetingsBean">
      <input message="tns:getGreetingsBean"/>
      <output message="tns:getGreetingsBeanResponse"/>
    </operation>
    <operation name="getGreetingsBeanArray">
      <input message="tns:getGreetingsBeanArray"/>
      <output message="tns:getGreetingsBeanArrayResponse"/>
    </operation>
    <operation name="getGreetingsBBean">
      <input message="tns:getGreetingsBBean"/>
      <output message="tns:getGreetingsBBeanResponse"/>
    </operation>
    <operation name="getGreetingsCBean">
      <input message="tns:getGreetingsCBean"/>
      <output message="tns:getGreetingsCBeanResponse"/>
    </operation>
    <operation name="getGreetingsDBean">
      <input message="tns:getGreetingsDBean"/>
      <output message="tns:getGreetingsDBeanResponse"/>
    </operation>
  </portType>
  <binding name="HelloWorldImplPortBinding" type="tns:HelloWorldService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getGreetings">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getGreetingsBean">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getGreetingsBeanArray">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getGreetingsBBean">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getGreetingsCBean">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getGreetingsDBean">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="HelloWorldImplService">
    <port name="HelloWorldImplPort" binding="tns:HelloWorldImplPortBinding">
      <soap:address location="http://localhost:8085/HelloWorldServiceComponent1"/>
    </port>
  </service>
</definitions>

